@{
    ViewData["Title"] = "Les Types Des Livres";
}


<style>
    
    h1 {
        color: #ffffff; /* Set text color to white */
        text-align: center;
        margin-top: 50px; /* Adjust the margin as needed */
    }
</style>

<h1>@ViewData["Title"]</h1>

<!-- À propos de la section 4 - Composant Bootstrap Brain -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0">
            <!-- Roman  -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="~/images/v_roman.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Roman</h2>
                                <p class="card-text lead">Fiction complexe, explore divers personnages et intrigues, du contemporain au fantastique. Fusion d'imagination et de réalité.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Romantique -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="images/v_ramantique.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Romantique</h2>
                                <p class="card-text lead">Axé sur l'intrigue, enquêtes criminelles, rebondissements. Captivant, défie à résoudre des mystères complexes.<br /> Palpitant.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0">
            <!-- thatres  -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="~/images/v_theatre.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Théatres</h2>
                                <p class="card-text lead">Concepts futuristes, technologie avancée, mondes extraterrestres. Explore implications sociales et éthiques. Évasion vers des réalités alternatives.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
    </div>
    <br />
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0">
            <!-- Historique -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="~/images/v_histoire.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Historique</h2>
                                <p class="card-text lead">Concepts futuristes, technologie avancée, mondes extraterrestres. Explore implications sociales et éthiques. Évasion vers des réalités alternatives.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
</section>
