@model BookShoppingCartMvcUI.Models.Genre

@{
    ViewData["Title"] = "Détails";
}

<style>
    body, h1, h4, label, .row, .col-sm-2, .col-sm-10, a {
        color: white;
    }
</style>

<div class="container mt-5">
    <h1 class="display-4">Détails</h1>

    <div>
        <h4>Genre</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GenreName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GenreName)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Modifier</a> |
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
