@page
@model LoginModel

@{
    ViewData["Title"] = "Connexion";
}

<style>
    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('https://media.witanddelight.com/content/uploads/2020/09/21162350/photo-1593306984293-c961c4c0feb8-scaled.jpeg');
        background-size: cover;
        background-position: center center;
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <!-- La moitié de l'image -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>

        <!-- La moitié du contenu -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <!-- Contenu de démo -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Connexion</h3>
                            <hr />
                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="checkbox mb-3">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Connexion</button>
                                </div>
                                <div>
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié ?</a>
                                    </p>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Inscription en tant que nouvel utilisateur</a>
                                    </p>
                                    <p>
                                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Renvoyer la confirmation par email</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- Fin -->
            </div>
        </div><!-- Fin -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
